@charset "utf-8";

 p {
      color: black;
      font-size: 20px;
}

span {
      color: red;
      font-size: 80%
      font-weight: bold
}

p.class1{
      text-align: left;
}

p.class2{
      text-align: center;
}

p.class3{
      text-align: right;
}

span.class4{
      text-decoration: underline;
}

span.class5{
      text-decoration: overline;
}

span.class6{
      text-decoration: line-through;
}

p.red{
      color: #ff0000;
}

p.blue{
      color: #0000ff;
}

.class1{
      list-style-type: disc;
}

.class2{
      list-style-type: none;
}
